
@font-face {
    font-family: phoenix;
    src: url(../fonts/Ac437_PhoenixVGA_9x8.ttf);
  }

/* ananke uses .avenir for sans-serif sections. */
.avenir {
    font-family: avenir next, avenir, sans-serif;
}

/* ananke uses .serif for serifed sections, like post content. */
.serif {
    font-family: georgia,times,serif;
}

/* ananke uses .athelas for post headers, the title display. */
.athelas {
    font-family: athelas,georgia,serif;
}

/* ananke uses .code for displaying code, e.g, stuff enclosed in backticks in a markdown doc. */
.code, code {
    font-family: phoenix, avenir next, avenir, sans-serif;

}
