
/* lh-title is used by anake to display the title text in ananke. */
.lh-title {
    color: #EE3124;
    font-size: 42px;
    background-color: rgb(2, 2, 39);
    padding: 3px;
    border: 1px solid rgb(51, 202, 51);
    font-family: phoenix, avenir next, avenir, sans-serif;
    
}
